<div class="row">
    <div class="col-sm-6">
        <h2>register()
            <small>a new user</small>
        </h2>
        <p>POST /auth/register</p>

      {{#bs-form action="submit"}}
        {{#bs-form-group}}
            <label class="control-label">Email address (email)</label>
          {{bs-input type="text" value=emailAddress}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Password (password)</label>
          {{bs-input type="text" value=password}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Repeat password (repeat)</label>
          {{bs-input type="text" value=repeat}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Nick/username (nick)</label>
          {{bs-input type="text" value=nick}}
        {{/bs-form-group}}
        {{#bs-form-group}}
            <label class="control-label">Name/Full name (name)</label>
          {{bs-input type="text" value=name}}
        {{/bs-form-group}}
        {{custom-json customData=customData}}

        {{#bs-button type="primary" buttonType="submit"}}register{{/bs-button}}
        {{#bs-button type="default" buttonType="reset"}}reset{{/bs-button}}
      {{/bs-form}}
    </div>
    <div class="col-sm-6">
      {{response-view response=response xhr=xhr}}
    </div>
</div>
